<mat-toolbar color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>  <span>{{ title }}</span>
</mat-toolbar>


<div class="container">


  <div class="form-container">

    <button routerLink="/update-password" mat-raised-button color="accent">
      ÄNDRA LÖSENORD
    </button>

    <button routerLink="logout()" routerLinkActive="active"
            mat-button color="warn" class="text-button">
      LOG OUT
    </button>
  </div>


</div>
